#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

#define BASE   0
#define UPPER  1
#define LOWER  2
#define ADJUST 3

&soft_off { hold-time-ms = <2000>; };

//  key positions (for hold-trigger-key-positions):
//  (0) TAB    (1) Q  (2) W  (3) E  (4) R  (5) T                    (6) up               (7) Y  (8) U  (9) I  (10) O  (11) P  (12) BSPC
//  (13) ESC   (14) A (15) S (16) D (17) F (18) G        (19) left  (20) mid  (21) right  (22) H (23) J (24) K (25) L  (26) SEMI (27) BSLH/APOS
//  (28) CTRL  (29) Z (30) X (31) C (32) V (33) B         (34) mute (35) down             (36) N (37) M (38) COMMA (39) DOT (40) SLASH (41) ENTER
//                                  (42) NONE (43) LOWER (44) NONE                        (45) UPPER (46) SPACE (47) NONE

#define LEFT_SIDE_KEYS 0 1 2 3 4 5 13 14 15 16 17 18 28 29 30 31 32 33 34
#define RIGHT_SIDE_KEYS 7 8 9 10 11 12 22 23 24 25 26 27 36 37 38 39 40 41

/ {
    behaviors {
        hml: hrmod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <RIGHT_SIDE_KEYS>;
        };

        hmr: hrmod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <LEFT_SIDE_KEYS>;
        };

        rsr_vol: rsr_vol {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            cw-binding = <&kp C_VOL_UP>;
            ccw-binding = <&kp C_VOL_DN>;
        };

        rsr_trans: rsr_trans {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <0>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_adjust {
            timeout-ms = <50>;
            key-positions = <43 45>;
            layers = <BASE UPPER LOWER>;
            bindings = <&mo ADJUST>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer { // Layer 0
            display-name = "Base";

            bindings = <
                &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T                 &kp UP               &kp Y       &kp U       &kp I       &kp O       &kp P        &kp BSPC
                &kp ESC     &hml LCTRL A &hml LALT S &hml LGUI D &hml LSHFT F &kp G     &kp LEFT  &kp ENTER &kp RIGHT  &kp H       &hmr RSHFT J &hmr RGUI K &hmr RALT L &hmr RCTRL SEMI &kp BSLH
                &kp LCTRL   &kp Z       &kp X       &kp C       &kp V       &kp B     &kp C_MUTE   &kp DOWN             &kp N       &kp M       &kp COMMA   &kp DOT     &kp SLASH    &kp ENTER
                                                    &none       &mo LOWER   &none                                      &mo UPPER   &lt UPPER SPACE   &none
            >;
        };

        upper_layer { // Layer 1 - numbers + -=[] symbols
            display-name = "Upper";

            bindings = <
                &trans    &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                 &trans               &kp N6   &kp N7   &kp N8    &kp N9   &kp N0   &trans
                &trans    &trans   &trans   &trans   &trans   &trans      &trans     &trans    &trans     &trans   &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp SQT
                &trans    &trans   &trans   &trans   &trans   &trans      &trans     &trans               &trans   &trans   &trans    &trans   &trans   &trans
                                                     &trans   &trans      &trans                                    &trans   &trans    &trans
            >;
        };

        lower_layer { // Layer 2 - shifted symbols + F-keys (left hand)
            display-name = "Lower";

            bindings = <
                &trans    &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT              &trans               &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR &trans
                &trans    &kp F1   &kp F2   &kp F3   &kp F4   &kp F5      &trans     &trans    &trans     &kp F6    &kp UNDER &kp PLUS &kp LBRC &kp RBRC &kp DQT
                &trans    &kp F7   &kp F8   &kp F9   &kp F10  &kp F11     &trans     &trans               &kp F12   &trans   &trans    &trans   &trans   &trans
                                                     &trans   &trans      &trans                                    &trans   &trans    &trans
            >;
        };

        adjust_layer { // Layer 3 - hardware controls
            display-name = "Adjust";

            bindings = <
                &none       &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                 &none               &rgb_ug RGB_ON  &rgb_ug RGB_SAI &rgb_ug RGB_BRI  &rgb_ug RGB_HUI &rgb_ug RGB_EFF &none
                &none       &none        &none         &out OUT_USB &out OUT_BLE &out OUT_TOG      &none     &none     &none    &rgb_ug RGB_OFF &rgb_ug RGB_SAD &rgb_ug RGB_BRD  &rgb_ug RGB_HUD &rgb_ug RGB_EFR &rgb_ug RGB_TOG
                &none       &none        &none         &none        &none        &none             &none     &none               &bl BL_ON       &bl BL_OFF      &bl BL_INC       &bl BL_DEC      &bl BL_CYCLE    &bl BL_TOG
                                                       &sys_reset   &bootloader   &studio_unlock                                   &studio_unlock  &bootloader     &sys_reset
            >;
        };
    };
};
